   * {
        font-family: 'Jua', sans-serif;
    }

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(#e7dfea, #d6ece3, #d9eaf0, #f9eed7);
}
.main{
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}

.loginimg{
	margin-bottom: 20px;
}

.login{
	position: relative;
	width:100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
label{
	color: rgba(255, 159, 63, 0.88);
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 100px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 40px;
	background: #e5dddd;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

#password{
	margin-top: 0;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #03033a;
	background: rgba(103, 68, 134, 0.82);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	margin-bottom: 70px;
}
button:hover{
	background: #b88644;
}
.signup{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.signup label{
	color: #6a42b2;
	transform: scale(.6);
	margin-bottom: 50px;
}

/*.radios {*/
/*	width: 30px;*/
/*	height: 30px;*/
/*}*/

#chk:checked ~ .signup{
	transform: translateY(-550px);
}
#chk:checked ~ .signup label{
	transform: scale(1);
}
#chk:checked ~ .login label{
	transform: scale(.6);
}

#selectbox{
	display: flex;
	justify-content: center;
	align-items: center;
}