<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&display=swap" rel="stylesheet">
    <title>MBTITUBE</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="../static/login.js">


    </script>
</head>

<body>
<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="login">
        <div class="loginimg">
            <img src="../static/logo.png" width="200px" height="70px">
        </div>
            <input type="text" placeholder="로그인" id="id">
            <input type="password" placeholder="비밀번호" id="password">
        <button onclick="login()" id="login">로그인</button>
    </div>

    <div class="signup">
        <label for="chk" aria-hidden="true">회원가입</label>
        <input type="text" id="register-id" placeholder="아이디">
        <input type="password" id="register-password" placeholder="비밀번호">
        <input type="password" id="register-password-check" placeholder="비밀번호확인">
        <div id="selectbox">
            <select id="mbtiopt" name="mbti" style="width:200px; height:40px;">
                <option class="mbti" value="none" title="MBTI를 선택해주세요">==MBTI선택==</option>
                <option class="mbti" value="anylysis" title="INTJ INTP ENTJ ENTP">분석형 (INTJ INTP ENTJ ENTP)</option>
                <option class="mbti" value="deplomacy" title="INFJ INFP ENFJ ENFP">외교형 (INFJ INFP ENFJ ENFP)</option>
                <option class="mbti" value="manager" title="ISTJ ISFJ ESTJ ESFJ">관리자형 (ISTJ ISFJ ESTJ ESFJ)</option>
                <option class="mbti" value="explorer" title="ISTP ISFP ESTP ESFP">탐험가형 (ISTP ISFP ESTP ESFP)</option>
            </select>
        </div>
        <button onclick="register()" id="signup">회원가입</button>
    </div>
</div>
</body>
</html>