<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LIST | MBTITUBE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="/static/post.css">

    <!--글씨체-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle:wght@400;700&family=Gugi&family=Jua&family=Nanum+Gothic+Coding&display=swap"
          rel="stylesheet">

    <script src="https://kit.fontawesome.com/2adf3c10c8.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    <script>

        $(document).ready(function () {
            show_post();
            show_top();
        });


        window.onload = function () {

            function onClick() {
                document.querySelector('.modal_wrap').style.display = 'block';
                document.querySelector('.black_bg').style.display = 'block';
            }

            function offClick() {
                document.querySelector('.modal_wrap').style.display = 'none';
                document.querySelector('.black_bg').style.display = 'none';
            }

            document.getElementById('modal_btn').addEventListener('click', onClick);
            document.querySelector('.modal_close').addEventListener('click', offClick);

        };


        function post() {
            let keyword = $("#input_keyword").val()
            let url = $("#input_url").val()
            $.ajax({
                type: "POST",
                url: "/post",
                data: {
                    keyword_give: keyword,
                    url_give: url
                },
                success: function (response) {
                    window.location.reload()
                }
            })
        }

        //포스팅하기
        function show_post() {
            $('#post-list').empty()
            $.ajax({
                type: "GET",
                url: "/post/posting",
                data: {},
                success: function (response) {
                    let rows = response['posts']

                    for (let i = 0; i < rows.length; i++) {
                        let post = rows[i]
                        let num = rows[i]['num']
                        let keyword = rows[i]['keyword']
                        let username = rows[i]['username']
                        let url = rows[i]['url']
                        code = (url.substr(32, 11));
                        var myArray = [code, '/default.jpg'];
                        var myString = 'https://i1.ytimg.com/vi/';
                        for (var m in myArray) {
                            myString = myString.concat(myArray[m]);
                        }

                        let class_heart = post['heart_by_me'] ? "fa-heart" : "fa-heart-o"
                        let temp_html = `<div class="post_asmr" id="post-list">
                                            <img class="thumbnail" src="${myString}" onClick="javascript:;window.open('${url}');"'>
                                            <ul class="info" id="${num}">
                                                <li class="info_num">${num} 번째 추천영상</li>
                                                <span class="like_part">
                                                <span class="like-num">${post["count_heart"]}</span>
                                                <span class="like" onclick="toggle_like('${num}')"><i class="fa ${class_heart}" id="heart"></i></span>
                                                </span>
                                                <li>MBTI타입 : ${keyword}</li>
                                                <li>작성자 : ${username}</li>
                                            </ul>
                                        </div>`
                        $('#post-list').append(temp_html)
                    }
                },
            });
        }


        //좋아요
        function toggle_like(num) {
            let $a_like = $(`#${num}`)
            let $i_like = $a_like.find("i")

            if ($i_like.hasClass("fa fa-heart")) {
                $.ajax({
                    type: "POST",
                    url: "/post/like",
                    data: {
                        num_give: num,
                        action_give: "unlike"
                    },
                    success: function (response) {
                        $i_like.addClass("fa-heart-o").removeClass("fa-heart")
                        $a_like.find('span.like-num').text(response["count"])
                    }
                })
            } else {
                $.ajax({
                    type: "POST",
                    url: "/post/like",
                    data: {
                        num_give: num,
                        action_give: "like"
                    },
                    success: function (response) {
                        $i_like.addClass("fa-heart").removeClass("fa-heart-o")
                        $a_like.find('span.like-num').text(response["count"])
                    }
                })
            }
        }

        //keyword 순위
        function show_top() {
            $.ajax({
                type: "GET",
                url: "/top5",
                data: {},
                success: function (response) {
                    let count = response['count']
                    let number = 1

                    for (let i = 0; i < count.length; i++) {
                        let id = count[i]['_id']

                        let temp_html = `
                                                <div class="top5_number">${number}위&nbsp;&nbsp;&nbsp;${id}</div>
                                        `
                        number++;
                        $('.top5_list').append(temp_html)
                    }
                }
            });
        }


        //keyword 누르면 해당 keyword만 분류하여 나오게 하기
        $(document).ready(function () {
            $("#changeTest").change(function () {
                let selected_keyword = $(this).val();
                $("#changeInput").val($(this).val());

                $('#post-list').empty()
                $.ajax({
                    type: "GET",
                    url: "/post/posting",
                    data: {},
                    success: function (response) {
                        let rows = response['posts']
                        for (let i = 0; i < rows.length; i++) {
                            let keywords = rows[i]['keyword']
                            let post = rows[i]
                            let num = rows[i]['num']
                            let username = rows[i]['username']
                            let url = rows[i]['url']
                            code = (url.substr(32, 11));
                            var myArray = [code, '/mqdefault.jpg'];
                            var myString = 'https://i1.ytimg.com/vi/';
                            for (var m in myArray) {
                                myString = myString.concat(myArray[m]);
                            }
                            if ($.trim(keywords) == selected_keyword) {
                                let class_heart = post['heart_by_me'] ? "fa-heart" : "fa-heart-o"
                                let temp_html = `<div class="post_asmr" id="post-list">
                                            <img class="thumbnail" src="${myString}" onClick="javascript:;window.open('${url}');"'>
                                            <ul class="info" id="${num}">
                                                <li class="info_num">${num} 번째 추천영상</li>
                                                <span class="like_part">
                                                <span class="like-num">${post["count_heart"]}</span>
                                                <span class="like" onclick="toggle_like('${num}')"><i class="fa ${class_heart}" id="heart"></i></span>
                                                </span>
                                                <li>MBTI타입 : ${keywords}</li>
                                                <li>작성자 : ${username}</li>
                                            </ul>
                                        </div>`
                                $('#post-list').append(temp_html)
                            } else if (selected_keyword == "전체") {
                                window.location.href = '/post';
                            }
                        }
                    }
                })
            });
        });


    </script>


</head>
<body>

{% include "header.html"%}


<div class="top">
    <div class="insert_btn">

        <div id="modal_btn" class="modal_btn">💜💚공유하기💙💛</div>
        <div class="black_bg"></div>
        <div class="modal_wrap">
            <div class="modal_close">
                <a href="#">close</a>
            </div>
            <div>
                <select class="modal_keyword" id="input_keyword">
                    <option value="">==MBTI선택==</option>
                    <option value="탐험가형">탐험가형(ISTP ISFP ESTP ESFP)</option>
                    <option value="외교관형">외교관형(INFJ INFP ENFJ ENFP)</option>
                    <option value="분석가형">분석가형(INTJ INTP ENTJ ENTP)</option>
                    <option value="관리자형">관리자형(ISTJ ISFJ ESTJ ESFJ)</option>
                </select>
            </div>

            <div>
                <input type="url" class="modal_url" id="input_url" placeholder="Youtube URL" spellCheck="false">
            </div>
            <button class="modal_submit" onclick="post()">등록</button>
        </div>
    </div>
</div>


   <div class="mid">
    <div class="keyword_wrap" id="changeInput">
        <div class="keytext">MBTI 타입별 모아보기🔻</div>
        <select name="keyword" id="changeTest">
            <option value="전체">전체</option>
            <option value="탐험가형">탐험가형(ISTP ISFP ESTP ESFP)</option>
            <option value="외교관형">외교관형(INFJ INFP ENFJ ENFP)</option>
            <option value="분석가형">분석가형(INTJ INTP ENTJ ENTP)</option>
            <option value="관리자형">관리자형(ISTJ ISFJ ESTJ ESFJ)</option>
        </select><br><br><br><br><br>
    </div>



    <div class="post_zone">
        <div class="container" id="post-list">
        </div>
    </div>

    <div class="top5">
        <div class="top5_title"># 등록 순위</div>
        <div class="top5_list"></div>
    </div>
</div>

</body>
</html>